<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p class="d-inline-block text-primary text-uppercase border-bottom border-5"
        style="border-color: rgba(256, 256, 256, .3) !important;">Addiciton Cure</p>

</ngx-spinner>
<div class="wrapper">

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-admin-side-bar></app-admin-side-bar>
        <!-- Layout container -->
        <div class="layout-page">
            <app-admin-header></app-admin-header>
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <br>
                    <h1 style="text-align: center;"><b style="font-size: larger;">Home Page</b></h1>
                    <td><input type="button" value="Edit Page" class="btn btn-dark" style="background-color: #007383 ;" (click)="OpenUpdatePage()"></td>
                    <br>
                    <div class="card mb-4">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Paragraph one</th>
                                    <th>Paragraph two</th>
                                    <th>Logo</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="Img" src="../../../assets/images/{{sharedservice.Home.image1}}"></td>
                                    <td>{{sharedservice.Home.paragraph}}</td>
                                    <td>{{sharedservice.Home.text1}}</td>
                                    <td>{{sharedservice.Home.logo}}</td>
                                    <td>{{sharedservice.Home.email}}</td>
                                    <td>{{sharedservice.Home.phone}}</td>
                                    <td>{{sharedservice.Home.address}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>
</div>




<ng-template #UpdateForm>



</ng-template>


<ng-template #DetailsForm>

</ng-template>



