.inputField {
    height: 55px;
    margin: 10%;

}

.Img {

    width: 100px;
    height: 100px;
    border-radius: 58px;
    ;


}


#title {
    width: 20%;
}

#cust-table {
    width: 100%;
    text-align: center;

}

#loc-table,
#user-table {
    width: 100%;
    text-align: center;
    /*   display: none; */
}

th {
    vertical-align: middle;
    text-align: center;
    background-color: #007383 ;
    color: #ffffff;
    height: 50px;
}

tr {
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    height: 50px;
}