<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p class="d-inline-block text-primary text-uppercase border-bottom border-5"
        style="border-color: rgba(256, 256, 256, .3) !important;">Addiciton Cure</p>

</ngx-spinner>




<div class="wrapper">
    <app-admin-side-bar></app-admin-side-bar>
    <app-admin-header></app-admin-header>
    <br>
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{this.doctorservice.questionss.length}}</h3>

                                <p>Questions</p>
                            </div>
                            <div class="icon">
                                <i class="ion-help"></i>
                            </div>
                            <a routerLink="/Admin/Questions" href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{patientService.Patient.length}}<sup style="font-size: 20px"></sup></h3>

                                <p>Patient</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a routerLink="/Admin/AllPatient" class="small-box-footer">More info <i
                                    class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>{{adminService.Doctors.length}}</h3>

                                <p>Doctors</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a routerLink="/Admin/AllDoctors" class="small-box-footer">More info <i
                                    class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>{{adminService.Payments.length}}</h3>

                                <p>Payments</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a routerLink="/Admin/Report" class="small-box-footer">More info <i
                                    class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <!-- Main content -->

                <div id="divChart">
                    <canvas id="myChart"></canvas>
                </div>
                <!-- /.content -->
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--Footer-->

    <app-admin-footer></app-admin-footer>
    <!--Footer-->
</div>
<!-- ./wrapper -->